@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(3, 3, 1, 0.4);
    box-shadow: 0 0 0 0 rgba(3, 3, 1, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(32, 32, 32, 0);
    box-shadow: 0 0 0 20px rgba(15, 15, 15, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
body {
  font-family: "Poppins", sans-serif;
  position: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.container {
  text-align: center;
}
.container header {
  height: 200px;
}
.container header h1 {
  font-size: 3.5rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
.container header h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}
.container .gameBoard {
  display: inline-block;
  position: relative;
}
.container .gameBoard div {
  text-align: initial;
}
.container .gameBoard div .dots {
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-between;
}
.container .gameBoard div .dots li {
  display: inline-block;
  list-style: none;
  height: 86px;
  width: 86px;
}
.container .gameBoard div .dots li img {
  position: absolute;
  z-index: 2;
}
.container .gameBoard .landing-zone {
  background-image: url("../../assets/ia-logo-back.png");
  width: 600px;
  height: 600px;
}
.container .gameBoard .landing-zone div {
  height: 86px;
  width: 86px;
  position: absolute;
}
.container .gameBoard .landing-zone #black1Landing {
  top: 309px;
  left: 47px;
}
.container .gameBoard .landing-zone #greenLanding {
  top: 453px;
  left: 143px;
}
.container .gameBoard .landing-zone #blueLanding {
  top: 165px;
  left: 275px;
}
.container .gameBoard .landing-zone #redLanding {
  top: 188px;
  left: 454px;
}
.container .gameBoard .landing-zone #black2Landing {
  top: 405px;
  left: 420px;
}
.container .gameBoard button {
  height: 40px;
  width: 100%;
  color: white;
  background-color: black;
  border-style: none;
  margin: 10px 0px;
  font: 400 1.4rem Poppins;
  padding: 0px;
  border-width: 0;
}

.ping {
  animation: pulse 2s linear;
  border-radius: 50px;
}

#particle-canvas {
  display: block;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@media only screen and (max-width: 950px) {
  .container {
    margin: 0 10px;
  }
  .container header h1 {
    font-size: 2.8rem;
  }
  .container header h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 650px) {
  .container header {
    height: 300px;
  }
  .container .gameBoard div .dots li {
    width: 60px;
    height: 60px;
  }
  .container .gameBoard div .dots li img {
    width: 60px;
    height: 60px;
  }
  .container .gameBoard .landing-zone {
    background-size: contain;
    width: 430px;
    height: 430px;
    background-repeat: no-repeat;
  }
  .container .gameBoard .landing-zone img {
    width: 60px;
    height: 60px;
  }
  .container .gameBoard .landing-zone #black1Landing, .container .gameBoard .landing-zone #greenLanding, .container .gameBoard .landing-zone #redLanding, .container .gameBoard .landing-zone #blueLanding, .container .gameBoard .landing-zone #black2Landing {
    width: 60px;
    height: 60px;
  }
  .container .gameBoard .landing-zone #black1Landing {
    top: 229px;
    left: 34px;
  }
  .container .gameBoard .landing-zone #black2Landing {
    top: 298px;
    left: 301px;
  }
  .container .gameBoard .landing-zone #blueLanding {
    top: 126px;
    left: 198px;
  }
  .container .gameBoard .landing-zone #greenLanding {
    top: 333px;
    left: 103px;
  }
  .container .gameBoard .landing-zone #redLanding {
    top: 143px;
    left: 327px;
  }
}

/*# sourceMappingURL=main.css.map */
