body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.container {
  text-align: center;
}
.container header h1 {
  font-size: 3.5rem;
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
}
.container header h2 {
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
}
.container .canvas {
  display: inline-block;
}
.container .canvas .dots {
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-between;
}
.container .canvas .dots li {
  display: inline-block;
  list-style: none;
  height: 86px;
  width: 86px;
}
.container .canvas .landing-zone {
  background-image: url("../../assets/ia-logo-back.png");
  width: 600px;
  height: 600px;
}
.container .canvas .landing-zone div {
  position: relative;
}
.container .canvas .landing-zone #black1Landing {
  height: 86px;
  width: 86px;
  top: 191px;
  left: 47px;
}
.container .canvas .landing-zone #greenLanding {
  height: 86px;
  width: 86px;
  top: 248px;
  left: 143px;
}
.container .canvas .landing-zone #blueLanding {
  height: 86px;
  width: 86px;
  top: -125px;
  left: 274px;
}
.container .canvas .landing-zone #redLanding {
  height: 86px;
  width: 86px;
  top: -188px;
  left: 455px;
}
.container .canvas .landing-zone #black2Landing {
  height: 86px;
  width: 86px;
  top: -57px;
  left: 418px;
}
.container .canvas button {
  height: 40px;
  width: 100%;
  color: white;
  background-color: black;
  border-style: none;
  margin: 10px 0px;
  font: 400 1.4rem Poppins;
  padding: 0px;
  border-width: 0;
}

@media only screen and (max-width: 950px) {
  .container {
    margin: 0 10px;
  }
  .container .canvas .dots {
    margin-block-start: 5px;
    margin-block-end: 10px;
  }
}
@media only screen and (max-width: 710px) {
  .container header h1 {
    font-size: 2.8rem;
  }
  .container header h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 650px) {
  .container header h1 {
    font-size: 2.8rem;
  }
  .container header h2 {
    font-size: 1.4rem;
    margin-block-end: 0.2rem;
    height: 140px;
  }
  .container .canvas .dots img {
    width: 60px;
    height: 60px;
  }
  .container .canvas .landing-zone {
    background-size: contain;
    width: 430px;
    height: 430px;
    background-repeat: no-repeat;
  }
  .container .canvas .landing-zone img {
    width: 60px;
    height: 60px;
  }
  .container .canvas .landing-zone #black1Landing, .container .canvas .landing-zone #greenLanding, .container .canvas .landing-zone #redLanding, .container .canvas .landing-zone #blueLanding, .container .canvas .landing-zone #black2Landing {
    width: 60px;
    height: 60px;
  }
  .container .canvas .landing-zone #black1Landing {
    top: 137px;
    left: 34px;
  }
  .container .canvas .landing-zone #black2Landing {
    top: -34px;
    left: 301px;
  }
  .container .canvas .landing-zone #blueLanding {
    top: -87px;
    left: 198px;
  }
  .container .canvas .landing-zone #greenLanding {
    top: 180px;
    left: 102px;
  }
  .container .canvas .landing-zone #redLanding {
    top: -129px;
    left: 327px;
  }
}

/*# sourceMappingURL=main.css.map */
