@media only screen and (max-width: 950px) {
    .container {
        margin: 0 10px;
        header { 
            h1 {
                font-size: 2.8rem;
            }
            h2 {
                font-size: 1.4rem;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .container {
        header {
            height: 300px;
        }
        .gameBoard {
            div {   
                .dots {
                    li {
                        width: 60px;
                        height: 60px;

                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
            
            .landing-zone {
                background-size: contain;
                width: 430px;
                height: 430px;
                background-repeat: no-repeat;

                img {
                    width: 60px;
                    height: 60px;
                }

                #black1Landing, #greenLanding, #redLanding, #blueLanding, #black2Landing {
                    width: 60px;
                    height: 60px;
                }

                #black1Landing {
                    top: 229px;
                    left: 34px;
                }

                #black2Landing {
                    top: 298px;
                    left: 301px;
                }

                #blueLanding {
                    top: 126px;
                    left: 198px;
                }

                #greenLanding {
                    top: 333px;
                    left: 103px;
                }

                #redLanding {
                    top: 143px;
                    left: 327px;
                }
            }
        }
    }
}